/* reset html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ---------- */

.container {
  display: flex;
}

body {
  font-family: sans-serif;
  color: rgb(85, 85, 85);
}

table {
  width: 1000px;
  margin: 20px auto;
}

table th {
  padding: 20px 20px;
  background-color: #eeeeee;
  border: thin solid #dddddd;
}

table td {
  padding: 10px;
  border: thin solid #cccccc;
  text-align: center;
  background-color: #fff;
}
